h1 {
    padding-top: 106px;
    padding-left: 106px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
    margin: 0;
    padding-top: 20px;
}

.add-task-container {
    margin-left: 106px;
    margin-right: 106px;
    padding-top: 64px;
    display: flex;
}

.inputfield-title {
    width: 406px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 8px;
    font-family: inter;
    
    font-size: 20px;
    height: 30px;
}


.textareafied-description {
    width: 396px;
    height: 142px;
    text-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 8px;
    resize: none;
    font-family: inter;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 440px;
  }
  
  .dropdown-toggle {
    width: 440px;
    padding: 10px 16px 12px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 8px;
    text-align: start;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    position: relative;
  }
  
  /* Pfeil */
  .dropdown-toggle::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px); /* Vertikal zentrieren */
    right: 12px; /* Abstand vom rechten Rand */
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: translateY(-50%) rotate(45deg); /* Rotation für Pfeil nach unten */
    transition: transform 0.3s ease; /* Animationsübergang für den Pfeil */
  }
  
  /* Pfeil nach oben drehen, wenn das Dropdown-Menü geöffnet ist */
  .dropdown-menu ~ .dropdown-toggle.active::after {
    transform: translateY(-50%) rotate(-135deg); /* Rotation für Pfeil nach oben */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    width: 440px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
 
.date-selector {
    margin-top: 8px;
    width: 406px;
    padding-left: 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 30px;
    font-size: 20px;
    font-family: inter;
    
}

.mg-l-r {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 20px;
}

.dp-flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

.custom-checkbox-high,
.custom-checkbox-medium,
.custom-checkbox-low {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.checkbox-label-high {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 16px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.checkbox-label-medium {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 16px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.checkbox-label-low {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 16px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.custom-checkbox-high:checked + .checkbox-container .checkbox-label-high {
    background-color: #FF3D00; 
    color: #FFFFFF; 
}

.custom-checkbox-medium:checked + .checkbox-container .checkbox-label-medium {
    background-color: #FFA800; 
    color: #FFFFFF; 
}

.custom-checkbox-low:checked + .checkbox-container .checkbox-label-low {
    background-color: #7AE229; 
    color: #FFFFFF; /
}

.checkbox-label-low:hover,
.checkbox-label-medium:hover,
.checkbox-label-high:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.checkbox-image-high,
.checkbox-image-medium,
.checkbox-image-low {
    margin-left: 10px; 
    width: 20px; 
    height: 14px;
}

.custom-checkbox-high:checked + .checkbox-container .checkbox-image-high {
    content: url('/assets/img/icons/white_prio_arrows.svg'); 
}

.custom-checkbox-medium:checked + .checkbox-container .checkbox-image-medium {
    content: url('/assets/img/icons/white_prio_medium.png'); 
}

.custom-checkbox-low:checked + .checkbox-container .checkbox-image-low {
    content: url('/assets/img/icons/white_prio_low.png'); 
}

.selectfield-task-category {
    margin-top: 8px;
    width: 440px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    font-family: inter;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.selectfield-tast-category:focus option[value=""] {
    height: 0;
    visibility: hidden;
}

.selectfield-tast-subtasks {
    margin-top: 8px;
    width: 440px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    font-family: inter;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.selectfield-tast-subtasks:focus option[value=""] {
    height: 0;
    visibility: hidden;
}


