.header-sticky {
    display: flex;
    position: sticky;
    top: 0;
}

.main-content {
    display: flex;
    flex-direction: column;

}

.board-container {
    display: flex;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-h1 {
    margin: 0;
    padding-left: 0;
    font-weight: 700;
    font-size: 61px;
}

.board-header-container {
    display: flex;
}

.operations-container {
    display: flex;
    justify-content: space-between;
}

.search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
    border-color: #A8A8A8;
    background-color: #FFFFFF;
    gap: 10px;
}

.search-field {
    border: 0;
    width: 100%;
    min-width: 200px;
    padding: 8px 16px 8px 16px;
    margin-left: 4px;
}

.al-center {
    display: flex;
    align-items: center;
}

.search-btn-container {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.search-btn-container:hover {
    cursor: pointer;
    background-color: #A8A8A8;
    border-radius: 45px;
}

.search-btn {
    height: 18px;
    width: 18px;
}

.vl {
    border-left: 1px solid #E7E7E7;
    height: 31px;
    margin-right: 16px;
}

.add-task-btn {
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    gap: 4px;
    border: 1px;
    background-color: #2A3647;
    color: #FFFFFF;
    align-items: center;
    margin-left: 32px;
    display: flex;
    height: 24px;
    font-weight: 700;
    font-size: 21px;
}

.add-task-btn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.status-container {
    padding-right: 24px;
}

.board-status-container {
    display: flex;
    margin-left: 106px;
    margin-right: 106px;
}

.status-overiew-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #42526E;
    padding-top: 64px;
    font-size: 20px;
    font-weight: 700;
    width: 244px;
    text-wrap: nowrap;
}

.addTask-board-container {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.70);
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-task-footer-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    width: 930px;
}

.addTask-board-footer {
    background-color: #FFFFFF;
    display: flex;
    padding: 48px 48px 48px 48px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.addTask-board-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 48px 48px 0px 48px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 930px;
    font-size: 61px;
    font-weight: 700;
}

.addTask-board-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 930px;
}

.task-detail-view-container {
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    align-content: center;

    /* ADDED BJÖRN */
    height: 100%;
    overflow-y: auto;
}

.addTask-board-render-container {
    display: flex;
    background-color: #FFFFFF;
    padding: 48px 48px 0px 48px;
}

.d-none {
    display: none;
}

.status-bar-img {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding: 3px;
    border: 2px solid;
    border-radius: 8px;
    border-color: #2A3647;
    color: #2A3647;
}

.status-bar-img:hover {
    cursor: pointer;
    border-color: #29ABE2;
    color: #29ABE2;
    transition: ease-out 300ms;
    gap: 10px;
}

.board-task-container {
    display: flex;
    margin-bottom: 60px;
}


.dragarea {
    min-width: 244px;
    min-height: 256px;
}

.no-task-container {
    background-color: #E7E7E7;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    border-style: dashed;
    color: #A8A8A8;
}

.task-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    width: 212px;
    margin-top: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;
    transition: transform 0.3s ease-out;
}

.task-container:hover {
    cursor: pointer;
    transform: rotate(+5deg);
}

.to-do-title-container {
    display: flex;
}

.to-do-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 16px;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 24px;
}

.technical-task-container-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.technical-task-detail {
    background-color: #0038FF;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
}

.close-detail-button {
    height: 24px;
    width: 24px;
}

.close-detail-button:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #E7E7E7;
}

.title-detail {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.description-detail {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.date-detail {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.priority-detail {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.priority-detail-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 32px;
}

.assigned-detail {
    font-size: 20px;
}

.subasks-headline {
    font-size: 20px;

}

.to-do-task {
    font-weight: 700;
    margin: 0;
}

.to-do-task-description {
    font-weight: 400;
    color: #A8A8A8;
}

.delete-detail-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
}

.edit-detail-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
}

.delete-detail-btn:hover,
.edit-detail-btn:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

.edit-detail-container {
    display: flex;
    justify-content: flex-end;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-wrapper {
    width: 128px;
    background-color: #F4F4F4;
    border-radius: 8px;

}

.progress-bar {
    width: 0%;
    height: 8px;
    background-color: #0038FF;
    border-radius: 16px;
}

.progress-count {
    text-wrap: nowrap;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
}

.attributor-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.attributor-icon {
    height: 42px;
    width: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.assigned-container {
    display: flex;
}

.priority-detail-container {
    display: flex;
    gap: 10px;
    margin-left: 36px;
    align-items: center;
}

.subtask-container-detail-view {
    margin-left: 16px;
}

.subtask-headline {
    font-size: 20px;
}

.d-hide {
    display: none;
}

.d-block {
    display: block;
}

h3 {
    font-family: inter;
    font-weight: 400;
    font-size: 21px;
}

.detail-task-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-task-overview {
    background-color: white;
    border-radius: 30px;
    width: 525px;
    padding: clamp(1.875rem, 1.65rem + 1.125vw, 3rem) clamp(0.875rem, 0.55rem + 1.625vw, 2.5rem);
}

.high {
    background: url('/assets/img/icons/prio_high.png') no-repeat center;
    width: 24px;
    height: 24px;
}

.medium {
    background: url('/assets/img/icons/prio_medium.png') no-repeat center;
    width: 24px;
    height: 24px;
}

.low {
    background: url('/assets/img/icons/prio_low.png') no-repeat center;
    width: 24px;
    height: 24px;
}

.detail-initials {
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    justify-content: center;
    margin-left: 12px;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-left: 16px;
    gap: 16px;
}

.checkbox-label-high-detail {
    background-color: #FFFFFF;
    color: #000000;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #A8A8A8;
}

.checkbox-label-medium-detail {
    background-color: #FFFFFF;
    color: #000000;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #A8A8A8;
}

.checkbox-label-low-detail {
    background-color: #FFFFFF;
    color: #000000;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 8px;
    height: 40px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #A8A8A8;
}

.custom-checkbox-high:checked+.checkbox-container .checkbox-label-high-detail {
    background-color: #FF3D00;
    color: #FFFFFF;
}

.custom-checkbox-medium:checked+.checkbox-container .checkbox-label-medium-detail {
    background-color: #FFA800;
    color: #FFFFFF;
}

.custom-checkbox-low:checked+.checkbox-container .checkbox-label-low-detail {
    background-color: #7AE229;
    color: #FFFFFF;/
}

.checkbox-label-low-detail:hover,
.checkbox-label-medium-detail:hover,
.checkbox-label-high-detail:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.checkbox-image-high-detail,
.checkbox-image-medium-detail,
.checkbox-image-low-detail {
    margin-left: 10px;
    width: 20px;
    height: 14px;
}

.custom-checkbox-high-detail:checked+.checkbox-container .checkbox-image-high {
    content: url('/assets/img/icons/white_prio_arrows.svg');
}

.custom-checkbox-medium-detail:checked+.checkbox-container .checkbox-image-medium {
    content: url('/assets/img/icons/white_prio_medium.png');
}

.custom-checkbox-low-detail:checked+.checkbox-container .checkbox-image-low {
    content: url('/assets/img/icons/white_prio_low.png');
}

.status-bar-img-done {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding: 3px;
    border: 2px solid;
    border-radius: 8px;
    border-color: #F4F4F4;
    color: #F4F4F4;
}

.padding {
    padding: 110px clamp(2.875rem, -1.4287rem + 6.7114vw, 6.625rem) 0 clamp(2.875rem, -1.4287rem + 6.7114vw, 6.625rem);
}

.d-flex-mobile {
    display: none !important;
}

.assignment-select-container {
    position: relative;
    max-width: 440px;
}

.assignment-task-assignment:hover {
    cursor: pointer;
}

.assignment-task-assignment:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.assignment-select-container::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 60%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    background: url('/assets/img/icons/arrow_drop_downaa.png') no-repeat center;
    background-size: 24px 24px;
    pointer-events: none;
    z-index: 120;
}

.assignment-select-container.open::after {
    transform: translateY(-50%) rotate(180deg);
}

.contact-container {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.contact-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.initials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    min-width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 12px;
    border: 2px solid rgba(255, 255, 255, 1);
}

.dropdown-content-board {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 440px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content-board div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#selected-contacts {
    display: flex;
    margin-top: 8px;
    gap: 8px;
}

.selected-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 12px;
    border: 2px solid rgba(255, 255, 255, 1);
}


.selectfield-task-category {
    margin-top: 8px;
    width: 100%;
    height: 48px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    font-family: Inter;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.custom-select-container {
    position: relative;
    display: inline-block;
    width: 440px;
}

.custom-select-container::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    background: url('/assets/img/icons/arrow_drop_downaa.png') no-repeat center;
    background-size: 24px 24px;
    pointer-events: none;
}

.custom-select-container.open::after {
    transform: translateY(-50%) rotate(180deg);
}

.selectfield-task-category:hover {
    cursor: pointer;
    border: 1px solid #A8A8A8;
}

.selectfield-task-category:focus {
    outline: none;
    border: 1px solid #29ABE2;
}

.mg-l-r-board {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 20px;
}

.overflow-hidden {
    overflow: hidden;
}

.inputfield-title-board {
    width: 406px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 8px;
    font-family: inter;
    font-size: 20px;
    height: 30px;
}

.textareafied-description-board {
    width: 406px;
    height: 102px;
    text-wrap: wrap;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 8px;
    resize: none;
    font-family: inter;
    font-size: 20px;
}

.close-btn-edit-container {
    display: flex;
    justify-content: flex-end;
}

.edit-container {
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    align-content: center;

    /* ADDED BJÖRN */
    height: 100%;
    overflow-y: auto;
}

.edit-task-container {
    background-color: white;
    border-radius: 30px;
    padding: clamp(1.875rem, 1.65rem + 1.125vw, 3rem) clamp(0.875rem, 0.55rem + 1.625vw, 2.5rem);
}

.edit-task-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-end;
    align-items: center;
}

.edit-delete-btn {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.edit-delete-btn img:nth-child(2) {
    display: none;
}

.edit-delete-btn:hover {
    font-weight: 700;
    color: var(--highlight-color);
}

.edit-delete-btn:hover img:nth-child(1) {
    display: none;
}

.edit-delete-btn:hover img:nth-child(2) {
    display: block;
}

.edit-contacts-loaded {
    display: flex;
}

.save-btn-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 24px;
}

.save-btn {
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    width: 89px;
}

.save-btn:hover {
    cursor: pointer;
    transition: ease-in-out 120ms;
    background-color: #29ABE2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.subtask-form-edit {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1440px) {
    .addTask-board-header {
        width: 444px;
    }

    .addTask-board-render-container {
        display: block;
    }

    .addTask-board-footer {
        width: 444px;
    }

    .mg-l-r-board {
        display: none;
    }
}

@media(max-width: 1390px) {
    .board-task-container {
        display: block;
    }

    .dragarea {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        min-height: 256px;
    }
}

@media(max-width: 1024px) {
    .d-none-mobile {
        display: none !important;
    }

    .d-flex-mobile {
        display: flex !important;
    }

    .board-h1 {
        font-size: 47px;
    }

    .padding {
        padding: 48px clamp(0.625rem, 0.0568rem + 2.8409vw, 1.875rem) 128px clamp(0.625rem, 0.0568rem + 2.8409vw, 1.875rem);
    }


    .board-status-container {
        display: none;
    }

    .board-task-container {
        display: block;
    }

    .dragarea {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        min-height: 256px;
    }

    .status-overiew-container {
        padding-top: 12px;
    }

    .task-container {
        margin: 0;
    }

    .search-area-mobile {
        width: 100% !important;
        height: 50px;
        margin-top: 12px;
    }

    .search-field {
        min-width: 100px;
        padding: 8px 10px 8px 10px;

    }
}

@media (max-width: 500px) {
    .inputfield-title-board {
        width: 270px;
    }

    .addTask-board-footer {
        width: 312px;
    }

    .addTask-board-header-content {
        font-size: 50px;
    }

    .addTask-board-header {
        width: 280px;
    }

    .textareafied-description-board {
        width: 270px;
    }

    .custom-select-container {
        display: flex;
        justify-content: center;
    }

    .dropdown-content-board {
        width: 300px;
    }

    .addTask-board-footer {
        padding: 24px 0px 0px 0px;
        font-size: 12px;
    }

    .add-task-footer-board {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 24px;
        font-size: 14px;
        flex-direction: column;
        width: 312px;
        margin-bottom: 38px;
    }

    .addTask-board-render-container {
        padding: 0px;
        width: 312px;
    }

    .addTask-board-header {
        padding: 38px 16px 0px 16px;
    }
}