.header-sticky {
    display: flex;
    position: sticky;
    top: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    
}

.board-container {
    display: flex;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 106px;
    padding-top: 106px;
    margin-right: 106px;
}

.board-h1 {
    margin: 0;
    padding-left: 0;
    font-weight: 700;
    font-size: 61px;
}

.board-header-container {
    display: flex;
}

.operations-container {
    display: flex;
    justify-content: space-between;
}

.search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
    border-color: #A8A8A8;
    background-color: #FFFFFF;
    gap: 10px;
}

.search-field {
    border: 0;
    width: 200px;
    padding: 8px 16px 8px 16px;
    margin-left: 4px;
}

.al-center {
    display: flex;
    align-items: center;
}

.search-btn-container{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16px;
}

.search-btn-container:hover {
    cursor: pointer;
    background-color: #A8A8A8;
    border-radius: 45px;
}

.search-btn {
    height: 18px;
    width: 18px;
}

.vl {
    border-left: 1px solid #E7E7E7;
    height: 31px;
    margin-right: 16px;
  }

.add-task-btn {
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    gap: 4px;
    border: 1px;
    background-color: #2A3647;
    color: #FFFFFF;
    align-items: center;
    margin-left: 32px;
    display: flex;
    height: 24px; 
    font-weight: 700;
    font-size: 21px;
}

.add-task-btn:hover {
    cursor: pointer;
    background-color:#29ABE2;
    transition: ease-in-out 100ms;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.board-status-container {
    display: flex;
    margin-left: 106px;
    margin-right: 106px;
}

.status-overiew-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #42526E;
    padding-top: 64px;
    font-size: 20px;
    font-weight: 700;
    padding-right: 24px;
    width: 244px;
    text-wrap: nowrap;
}

.addTask-board-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.70);
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-task-footer-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    width: 930px;
}

.addTask-board-footer {
    background-color: #FFFFFF;
    display: flex;
    padding: 48px 48px 48px 48px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.addTask-board-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 48px 48px 0px 48px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 930px;
    font-size: 61px;
    font-weight: 700;
}

.addTask-board-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 930px;
}

.task-detail-view-container {
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: hidden;
    align-content: center;
}

.addTask-board-render-container{
    display: flex;
    background-color: #FFFFFF;
    padding: 48px 48px 0px 48px;
}

.d-none {
    display: none;
}

.status-bar-img {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding: 3px;
    border: 2px solid;
    border-radius: 8px;
    border-color: #2A3647;
    color: #2A3647;
}

.status-bar-img:hover {
    cursor: pointer;
    border-color: #29ABE2;
    color: #29ABE2;
    transition: ease-out 300ms;
    gap: 10px;
}

.board-task-container {
    display: flex;
    margin-left: 106px;
    margin-right: 106px;
}


.dragarea {
    width: 244px;
    padding-right: 24px;
}

.no-task-container {
    background-color: #E7E7E7;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    border-style: dashed;
    color: #A8A8A8;
}

.task-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    margin-top: 16px;
}

.task-container:hover {
    cursor: pointer;
}

.to-do-title-container {
    display: flex;
}

.to-do-title {
    background-color: #0038FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 24px;
}

.technical-task-container-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.technical-task-detail {
    background-color: #0038FF;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
}

.close-detail-button {
    height: 24px;
    width: 24px;
}

.close-detail-button:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #E7E7E7;
}

.title-detail {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.description-detail {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.date-detail {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.priority-detail {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.priority-detail-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 32px;
}

.assigned-detail {
    font-size: 20px;
}

.subasks-headline {
    font-size: 20px;

}

.to-do-task {
    font-weight: 700;
    margin: 0;
}

.to-do-task-description {
    font-weight: 400;
    color: #A8A8A8;
}

.delete-detail-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
}

.edit-detail-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
}

.delete-detail-btn:hover,
.edit-detail-btn:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

.edit-detail-container {
    display: flex;
    justify-content: flex-end;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-wrapper {
    width: 128px; /* Die volle Breite innerhalb des Containers */
    background-color:#F4F4F4;
    border-radius: 8px;

}

.progress-bar {
    width: 0%; /* Startbreite von 0% */
    height: 8px;
    background-color: #0038FF;
    border-radius: 16px;
}

.progress-count {
    text-wrap: nowrap;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px; /* Abstand zwischen Progressbar und Fortschrittszahl */
}

.attributor-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.attributor-icon {
    height: 42px;
    width: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.assigned-container {
    display: flex;
}

.priority-detail-container {
    display: flex;
    gap: 10px;
    margin-left: 36px;
    align-items: center;
}

.subtask-container-detail-view {
    margin-left: 16px;
}

.subtask-headline {
    font-size: 20px;
}

.d-hide {
    display: none;
}

.d-block {
    display: block;
}

.task-detail-view-container {
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: hidden;
    align-content: center;
}

.detail-task-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-task-overview {
    background-color: white;
    border-radius: 30px;
    width: 525px;
    padding: 48px 40px 48px 40px;
}

.high {
    background: url('/assets/img/icons/prio_high.png') no-repeat center;
    width: 24px;
    height: 24px;
}

.medium {
    background: url('/assets/img/icons/prio_medium.png') no-repeat center;
    width: 24px;
    height: 24px;
}

.low {
    background: url('/assets/img/icons/prio_low.png') no-repeat center;
    width: 24px;
    height: 24px;
}

.detail-initials {
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    justify-content: center;
    margin-left: 12px;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-left: 16px;
    gap: 16px;
}