* {
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

.header-sticky {
    display: flex;
    position: sticky;
    top: 0;
}

.dflex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.cp {
    cursor: pointer;
}

.container-contacts {
    width: 456px;
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--white);
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    font-size: 20px;
    overflow-y: scroll;
}

.btn-add-new-contact {
    width: 352px;
    height: 56px;
    padding: 12px 0px;
    margin: 25px 50px;
    gap: 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.btn-add-new-contact:hover {
    background-color: var(--highlight-color);
}

.bg-btn-add-new-contact {
    width: 456px;
    height: 100px;
    background-color: #FFFFFF;
    position: fixed;
}

.contact-list {
    margin-top: 100px;
    padding-bottom: 35px;
}

.container-letters {
    width: 352px;
    padding: 17px 0px;
    border-bottom: 1px solid #d1d1d1;
}

.container-contact {
    width: 352px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
    border-radius: 10px;
    cursor: pointer;
}

.container-contact:hover {
    background-color: #f5f5f5;
}

.container-contact:active {
    background-color: var(--primary-color);
    color: var(--white);
}


.first-letters-small {
    min-width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 12px;
    color: var(--white);
    border: 2px solid rgba(255, 255, 255, 1)
}

.first-letters-big {
    min-width: 120px;
    height: 120px;
    border-radius: 70px;
    color: var(--white);
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.name-mail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-mail a {
    font-size: 16px;
    color: #007CEE;
}

.container-right {
    position: absolute;
    top: 206px;
    left: 743px;
}

.headline {
    gap: 30px;
    font-size: 27px;
}

.headline h1 {
    font-size: 61px;
    font-weight: 700;
    padding-right: 30px;
    border-right: 3px solid var(--highlight-color);
    height: 59px;
}

.contact-data {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-user-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 54px;
    margin: 30px 0px;
    font-size: 47px;
    font-weight: 500;
}

.container-name-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-delete {
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
}

.edit-delete-btn {
    width: 64px;
    gap: 8px;
    justify-content: flex-start;
}

.edit-delete-btn img:nth-child(2) {
    display: none;
}

.edit-delete-btn:hover {
    font-weight: 700;
    color: var(--highlight-color);
}

.edit-delete-btn:hover img:nth-child(1) {
    display: none;
}

.edit-delete-btn:hover img:nth-child(2) {
    display: block;
}

.contact-info-headline {
    padding: 25px 0px;
    font-size: 20px
}

.contact-mail-number {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-mail-number a {
    text-decoration: none;
    color: #007CEE;
}

.mail-number {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-mail-number-headline {
    font-weight: 700;
}


/* ---------- OVERLAY ---------- */

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 1000;
}

.container-overlay {
    display: flex;
    width: 1212px;
    height: 592px;
    position: relative;
    margin: 30px;
    border-radius: 30px;
    background-color: var(--white);
}

.overlay-left-bg {
    border-radius: 30px 0px 0px 30px;
    background-color: var(--primary-color);
}

.overlay-left {
    min-height: 594px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 0px 48px;
    color: var(--white);
}

.overlay-left img {
    width: 56px;
    position: absolute;
    top: 154px;
}

.overlay-left span {
    font-size: 27px;
}

.overlay-left h1 {
    margin: 0;
    border-bottom: 3px solid var(--highlight-color);
    padding-bottom: 8px;
}

.line-turn {
    width: 90px;
    height: 3px;
    background-color: var(--highlight-color);
}

.close-img {
    position: absolute;
    top: 48px;
    right: 48px;
}

.close-img:hover {
    background-color: #d1d1d1;
    border-radius: 30px;
}

.overlay-right {
    display: flex;
}

.contact-pict {
    width: 120px;
    height: 120px;
    margin: 83px;
    border-radius: 70px;
    background-color: #d1d1d1;
    border: 3px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.input-container {
    gap: 32px;
}

.inputfield {
    width: 422px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px 16px;
}

::placeholder {
    color: #d1d1d1;
}

input[type="text"] {
    background: url(/assets/img/icons/contact/person_input.png) no-repeat;
    background-position: 95%;
}

input[type="email"] {
    background: url(/assets/img/icons/contact//mail_input.png) no-repeat;
    background-position: 95%;
}

input[type="tel"] {
    background: url(/assets/img/icons/contact/call_input.png) no-repeat;
    background-position: 95%;
}

input[type="text"]:focus {
    background-image: none;
}

input[type="email"]:focus {
    background-image: none;
}

input[type="tel"]:focus {
    background-image: none;
}

.btn-cancel-create {
    gap: 24px;
}

.btn-create-contact {
    width: fit-content;
    height: 56px;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.btn-create-contact:hover {
    background-color: var(--highlight-color);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-outline-create-contact {
    width: 126px;
    height: 56px;
    padding: 16px;
    gap: 4px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
}

.btn-outline-create-contact img:nth-child(3) {
    display: none;
}

.btn-outline-create-contact:hover {
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-outline-create-contact:hover img:nth-child(2) {
    display: none;
}

.btn-outline-create-contact:hover img:nth-child(3) {
    display: block;
}

.first-letters-edit {
    width: 120px;
    height: 120px;
    margin: 83px;
    border-radius: 70px;
    color: var(--white);
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.btn-contact-created {
    width: 326px;
    height: 74px;
    position: absolute;
    bottom: 60px;
    left: 750px;
    border-radius: 20px;
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}




@media(max-width: 1200px) {


    .headline {
        flex-direction: column;
        display: block;
    }

    .headline span {
        font-size: 20px;
    }

    .headline h1 {
        display: block;
        border-right: none;
        margin-bottom: 8px;
    }

    .headline span {
        border-bottom: 3px solid var(--highlight-color);
        padding-bottom: 8px;
    }

    .container-overlay {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 30px 30px 0px 0px;
        flex-direction: column;
    }

    .overlay-left-bg {
        width: 100vw;
        height: 352px;
        border-radius: 30px 30px 0px 0px;
    }

    .overlay-left {
        width: 100vw;
        height: 352px;
        min-height: 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .overlay-left h1 {
        font-size: 47px;
    }

    .overlay-left img {
        display: none;
    }

    .contact-data-mobile {
        flex-direction: column;
        margin: -110px;
    }

    .container-user-top-edit {
        margin: 0;
    }

    .first-letters-edit,
    .contact-pict {
        margin: 20px;
    }

    .margin-- {
        margin-top: -80px;
    }

    .inputfield {
        width: 364px;
    }

}


@media(max-width: 1024px) {

    .contact-list {
        margin: 50px 0px;
    }

    .container-contacts {
        width: 100vw;
        height: calc(100% - 96px);
        z-index: 10;
        overflow-y: scroll;
    }

    .bg-btn-add-new-contact {
        width: auto;
        background-color: transparent;
        position: fixed;
        bottom: 70px;
        right: 0px;
    }

    .bg-btn-add-new-contact span {
        display: none;
    }

    .btn-add-new-contact {
        width: 56px;
        border-radius: 90px;
        margin: 35px 20px;
    }

    .container-right {
        height: 100%;
        z-index: 1000;
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: var(--bg-color);
        padding: 60px 30px;
    }

    .headline h1 {
        font-size: 47px;
        margin: 0;
    }

    .headline-mobile {
        width: 100%;
    }

    .headline-mobile img {
        display: block;
    }

    .close-icon {
        position: fixed;
        top: 25%;
        right: 5%;
        z-index: 1000;
    }

    .headline-desktop {
        display: none;
    }

    .container-right-dnone {
        display: none;
    }

}




@media(max-width: 420px) {

    .inputfield {
        width: 300px;
    }

    .edit-delete {
        flex-direction: column;
        gap: 8px;

    }
}