body {
    font-family: inter;
    font-size: 16px;    
    font-weight: 400;
    background-color: var(--bg-color);
    margin: 0;
}

header {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 348px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

header p {
    font-size: 20px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;    
}

.header-right img {
    width: 32px;
    height: 32px;
}

.header-right img:hover {
    transform: scale(1.2);
}

.header-right-user {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--secundary-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--highlight-color);
    font-size: 20px;
    font-weight: 700;
}

.header-right-user:hover {
    background-color: #e2e6ec;
}

.container-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 232px;
    padding: 64px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
}

nav {
    display: flex;
    flex-direction: column;
    margin: 32px 0px;
    gap: 20px;
}

.nav-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 56px;
    gap: 16px;
    cursor: pointer;
}

.nav-btn a {
    text-decoration: none;
    color: var(--lightgrey);
}

.nav-btn:hover {
    background-color: #2A3D59;
}

.nav-btn:active {
    background-color: var(--secundary-color);
}

.nav-btn-active {
    background-color:  var(--secundary-color);
}

.nav-btn-active img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) brightness(100%) contrast(100%);
}

.nav-bottom-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20% 0% 0% 0%;
}

.nav-bottom-link a {
    width: 112px;
    height: 35px;
    color: #A8A8A8;
    text-decoration: none;
}

.nav-bottom-link a:hover {
    color: var(--highlight-color);
    font-weight: 700;
}
