<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/color.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="shortcut icon" href="../img/join-logo.png" type="image/x-icon">
    <title>JOIN</title>
</head>

<body>
    <header>
        <p>Kanban Project Management Tool</p>
        <div class="header-right cp">
            <img src="./assets/img/icons/help.png" alt="help">
            <div onclick="showDropdownMenu()" class="header-right-user dflex-c-c">SM</div>
        </div>
    </header>
    <section id="container-header-dropdown-menu" class="d-none">
        <div class="header-dropdown-menu">
            <a href="/legal-notice.html">Legal Notice</a>
            <a href="/privacy-policy.html">Privacy Policy</a>
            <a href="#">Log out</a>
        </div>
    </section>
</body>

</html>