<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/color.css">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="shortcut icon" href="../img/join-logo.png" type="image/x-icon">
    <title>JOIN</title>
</head>

<body>
    <header>
        <p>Kanban Project Management Tool</p>
        <div class="header-right">
            <img src="../img/icons/help.png" alt="help">
            <div class="user">SM</div>
        </div>
    </header>
    <section class="container-sidebar">
        <img src="../img/logo_join_white.png" alt="logo_join">
        <nav>
            <div class="navbutton">
                <img src="../img/icons/nav_summary.png" alt="Summary">
                <div class="nav-text">Summary</div>
            </div>
            <div class="navbutton">
                <img src="../img/icons/nav_addtask.png" alt="addtask">
                <div class="nav-text">Add Task</div>
            </div>
            <div class="navbutton">
                <img src="../img/icons/nav_board.png" alt="board">
                <div class="nav-text">Board</div>
            </div>
            <div class="navbutton">
                <img src="../img/icons/nav_contacts.png" alt="contacts">
                <div class="nav-text">Contacts</div>
            </div>
        </nav>
        <div class="nav-link">
            <a href="http://">Privacy Policy</a>
            <a href="http://">Legal notice</a>
        </div>
    </section>
</body>
</html>