<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/color.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="shortcut icon" href="../img/join-logo.png" type="image/x-icon">
    <title>JOIN</title>
</head>

<body>
    <section class="container-sidebar">
        <img src="./assets/img/logo_join_white.png" class="sidebar-logo" alt="logo_join">
        <nav>
            <div class="nav-btn cp">
                <img src="./assets/img/icons/nav_summary.png" alt="Summary">
                <a href="/summary.html" class="nav-link">Summary</a>
            </div>
            <div class="nav-btn cp">
                <img src="./assets/img/icons/nav_addtask.png" alt="addtask">
                <a href="/add-task.html" class="nav-link">Add Task</a>
            </div>
            <div class="nav-btn cp">
                <img src="./assets/img/icons/nav_board.png" alt="board">
                <a href="/board.html" class="nav-link">Board</a>
            </div>
            <div class="nav-btn cp">
                <img src="./assets/img/icons/nav_contacts.png" alt="contacts">
                <a href="/contact.html" class="nav-link">Contacts</a>
            </div>
        </nav>
        <div class="nav-bottom-link">
            <a href="/privacy-policy.html">Privacy Policy</a>
            <a href="/legal-notice.html">Legal notice</a>
        </div>
    </section>
</body>
</html>